<link href="https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=PT+Sans:ital@1&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">


<div class="header">
    <nav>
        <div class="left">
          <h2>Demo App</h2>
        </div>
        <div class="right">
            <a href="#home">Home</a>
            <a href="#about">About Us</a>
            <a href="#job">Jobs</a>
            <a href="#client">Clients</a>
            <a href="#employer">Employers</a>
            <a href="#contact">Contact Us</a>
        </div>
      </nav>
</div>

<section class="profile">
<section class="upload">
  <h2>Profile</h2><br>
    <div><img src="/assets/Images/img10.webp" alt="" height="200px" width="200px"></div><br>
<div class="btn" style="border: none;">
    <button>Edit Photo</button>
    <button>Edit Profile</button>
</div>
</section>
<div class="info">
    I'm Caroline Kassidy and Im above 20 years and you can send your emails to <span>caroline.kassidy&commat;publicis.com.</span> 
    I live in the state of Alaska. I like to play hockey, football and reading books. And please send me newsletters. 
    Please reach out to me on my phone number.
<button class="bttn">I Agree</button>
</div>
</section>

<section class="subscribe border-gradient border-gradient-mix only-top">
    <div>
  <p style="font-weight:400; font-size: 1rem;">Subscribe to our job Seeker Mailing List</p>
  <input type="email" placeholder="Enter Your Email Address" class="inputt"><fa-icon [icon]="faEnvelope"></fa-icon>
    </div>
  </section>

  <section class="footer border-gradient border-gradient-mix only-top">
    <fa-icon [icon]="faenvelope"></fa-icon><input type="email" class="inputt">
    <div class="display">
      <div>Copyright &copy; 2014 Two Bytes Consulting. <span>Terms & Policies.</span></div>
      <div class="btnn">
        <button class="twit"><fa-icon [icon]="faTwitter" style="color: rgb(2, 128, 170);"></fa-icon>Tweet</button>
        <button class="face"><fa-icon [icon]="faFacebook" style="color: blue;"></fa-icon>Like</button>
      </div>
    </div>
    </section>
